In [42]:
import numpy as np
import pandas as pd

In [43]:
df = pd.read_csv('book loans.csv')

In [44]:
df.tail(60)

,book_loans_BookID,book_loans_BranchID,book_loans_CardNo,book_loans_DateOut,book_loans_DueDate
0,1,1,100,1/1/18,2/2/18
1,2,1,100,1/1/18,2/2/18
2,3,1,100,1/1/18,2/2/18
3,4,1,100,1/1/18,2/2/18
4,5,1,102,1/3/18,2/3/18
5,6,1,102,1/3/18,2/3/18
6,7,1,102,1/3/18,2/3/18
7,8,1,102,1/3/18,2/3/18
8,9,1,102,1/3/18,2/3/18
9,11,1,102,1/3/18,2/3/18
10,12,2,105,12/12/17,1/12/18
11,10,2,105,12/12/17,1/12/17
12,20,2,105,2/3/18,3/3/18
13,18,2,105,1/5/18,2/5/18
14,19,2,105,1/5/18,2/5/18
15,19,2,100,1/3/18,2/3/18
16,11,2,106,1/7/18,2/7/18
17,1,2,106,1/7/18,2/7/18
18,2,2,100,1/7/18,2/7/18
19,3,2,100,1/7/18,2/7/18
20,5,2,105,12/12/17,1/12/18
21,4,3,103,1/9/18,2/9/18
22,7,3,102,1/3/18,2/3/18
23,17,3,102,1/3/18,2/3/18
24,16,3,104,1/3/18,2/3/18
25,15,3,104,1/3/18,2/3/18
26,15,3,107,1/3/18,2/3/18
27,14,3,104,1/3/18,2/3/18
28,13,3,107,1/3/18,2/3/18
29,13,3,102,1/3/18,2/3/18
30,19,3,102,12/12/17,1/12/18
31,20,4,103,1/3/18,2/3/18
32,1,4,102,1/12/18,2/12/18
33,3,4,107,1/3/18,2/3/18
34,18,4,107,1/3/18,2/3/18
35,12,4,102,1/4/18,2/4/18
36,11,4,103,1/15/18,2/15/18
37,9,4,103,1/15/18,2/15/18
38,7,4,107,1/1/18,2/2/18
39,4,4,103,1/1/18,2/2/18
40,1,4,103,2/2/17,3/2/18
41,20,4,103,1/3/18,2/3/18
42,1,4,102,1/12/18,2/12/18
43,3,4,107,1/13/18,2/13/18
44,18,4,107,1/13/18,2/13/18
45,12,4,102,1/14/18,2/14/18
46,11,4,103,1/15/18,2/15/18
47,9,4,103,1/15/18,2/15/18
48,7,4,107,1/19/18,2/19/18
49,4,4,103,1/19/18,2/19/18
50,1,4,103,1/22/18,2/22/18

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   book_loans_BookID    51 non-null     int64
 1   book_loans_BranchID  51 non-null     int64
 2   book_loans_CardNo    51 non-null     int64
 3   book_loans_DateOut   51 non-null     object
 4   book_loans_DueDate   51 non-null     object
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [47]:
df['book_loans_DateOut'] = pd.to_datetime(df['book_loans_DateOut'])
df['book_loans_DueDate'] = pd.to_datetime(df['book_loans_DueDate'])

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   book_loans_BookID    51 non-null     int64
 1   book_loans_BranchID  51 non-null     int64
 2   book_loans_CardNo    51 non-null     int64
 3   book_loans_DateOut   51 non-null     datetime64[ns]
 4   book_loans_DueDate   51 non-null     datetime64[ns]
dtypes: datetime64[ns](2), int64(3)
memory usage: 2.1 KB

In [49]:
df.head(60)

,book_loans_BookID,book_loans_BranchID,book_loans_CardNo,book_loans_DateOut,book_loans_DueDate
0,1,1,100,2018-01-01,2018-02-02
1,2,1,100,2018-01-01,2018-02-02
2,3,1,100,2018-01-01,2018-02-02
3,4,1,100,2018-01-01,2018-02-02
4,5,1,102,2018-01-03,2018-02-03
5,6,1,102,2018-01-03,2018-02-03
6,7,1,102,2018-01-03,2018-02-03
7,8,1,102,2018-01-03,2018-02-03
8,9,1,102,2018-01-03,2018-02-03
9,11,1,102,2018-01-03,2018-02-03
10,12,2,105,2017-12-12,2018-01-12
11,10,2,105,2017-12-12,2017-01-12
12,20,2,105,2018-02-03,2018-03-03
13,18,2,105,2018-01-05,2018-02-05
14,19,2,105,2018-01-05,2018-02-05
15,19,2,100,2018-01-03,2018-02-03
16,11,2,106,2018-01-07,2018-02-07
17,1,2,106,2018-01-07,2018-02-07
18,2,2,100,2018-01-07,2018-02-07
19,3,2,100,2018-01-07,2018-02-07
20,5,2,105,2017-12-12,2018-01-12
21,4,3,103,2018-01-09,2018-02-09
22,7,3,102,2018-01-03,2018-02-03
23,17,3,102,2018-01-03,2018-02-03
24,16,3,104,2018-01-03,2018-02-03
25,15,3,104,2018-01-03,2018-02-03
26,15,3,107,2018-01-03,2018-02-03
27,14,3,104,2018-01-03,2018-02-03
28,13,3,107,2018-01-03,2018-02-03
29,13,3,102,2018-01-03,2018-02-03
30,19,3,102,2017-12-12,2018-01-12
31,20,4,103,2018-01-03,2018-02-03
32,1,4,102,2018-01-12,2018-02-12
33,3,4,107,2018-01-03,2018-02-03
34,18,4,107,2018-01-03,2018-02-03
35,12,4,102,2018-01-04,2018-02-04
36,11,4,103,2018-01-15,2018-02-15
37,9,4,103,2018-01-15,2018-02-15
38,7,4,107,2018-01-01,2018-02-02
39,4,4,103,2018-01-01,2018-02-02
40,1,4,103,2017-02-02,2018-03-02
41,20,4,103,2018-01-03,2018-02-03
42,1,4,102,2018-01-12,2018-02-12
43,3,4,107,2018-01-13,2018-02-13
44,18,4,107,2018-01-13,2018-02-13
45,12,4,102,2018-01-14,2018-02-14
46,11,4,103,2018-01-15,2018-02-15
47,9,4,103,2018-01-15,2018-02-15
48,7,4,107,2018-01-19,2018-02-19
49,4,4,103,2018-01-19,2018-02-19
50,1,4,103,2018-01-22,2018-02-22

In [50]:
df.to_csv('book_loans.csv',index = False)